@charset "utf-8";
/* CSS Document */
.bg{background:#fafafa ;}
html,body { height: 100%; margin: 0px; padding: 0px;  font-family:Arial, Helvetica, sans-serif; }
ul, li{list-style:none; list-style-type:0; padding:0; margin:0;}
/*
.admin-top{height:80px; background:#01588e;} 
*/
.admin-top{height:80px; background:#6CADD5;}
.admin-brand{height:40px; padding:30px 3%; position:relative; background:#fff;}
.admin-logo{ position:absolute; right:3%; top:15px;}

.admin-title{
	position:absolute;
	right:15px;
	top:18px;
}

.admin-login-body{height:400px; background:#f8f9fa;  width:550px;  margin:auto;  border-top:solid 1px #eeefef; border-bottom:solid 1px #eeefef;}
.admin-registration-body{height:950px; background:#f8f9fa; width:100%; margin:auto;  border-top:solid 1px #eeefef; border-bottom:solid 1px #eeefef;}
.admin-nonteach-education-body{height:150px; background:#f8f9fa; width:100%; margin:auto;  border-top:solid 1px #eeefef; border-bottom:solid 1px #eeefef;}

.admin-login-form{  width:550px; margin:auto !important;   padding:30px 0;}
.admin-registration-form{ height:950px;width:100%; margin:auto !important;   padding:30px 0;}

.admin-input-text{ border:solid 1px #d9dbdd; height:30px; width:300px; border-radius:5px;-moz-border-radius:5px; webkit-border-radius:5px; float:right;}

.admin-input-select{ border:solid 1px #d9dbdd; height:30px; width:300px; border-radius:5px;-moz-border-radius:5px; webkit-border-radius:5px; float:right;}
.admin-input-radio{ border:solid 1px #d9dbdd; height:10px; width:10px; border-radius:5px;-moz-border-radius:5px; webkit-border-radius:5px; float:right;}
ul.top-nav { float:right; min-width:10%;}
ul.top-nav li{ float:left; margin:10px 5px 0 5px; min-width:30%; background:#054166; height:30px;}
ul.top-nav li a{ padding:5px 10px; font:12px/30px Arial, Helvetica, sans-serif; color:#40adf0; text-decoration:none;}
ul.top-nav li a:hover{ background:#021f31;}
.error{ background:#F00; min-width:100px; margin:auto; padding:5px 10px; color:#fff; text-align:center;}
.container{ width:1000px; margin:auto;}
.clear{clear:both;}
.round-corner-5{-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.adminLogo{float:left;}
.admin-head{ float:left; text-align:center; width:1000px; margin:10px 0 0 0;}
/*---lef panle-------------*/
#left-panel{ float:left; height:600px; width:20%; background:#4d4d4d; display:block;}
/*---right panle-------------*/
#right-panel{ float:left; width:65%; padding:30px 5%; }
.label{ font:14px Arial, Helvetica, sans-serif; color:#000;}
.box td, .white-div td{ padding:5px;}

/*select reg----*/
.reg-main-page{background:#ffffff url(images/bg_green_box.png) no-repeat center center fixed ; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover ; }
 .ug-button, .pg-button{background:url(images/pg-bg.png) repeat-x; width:200px; height:49px; float:left; text-align:center; font:18px/49px Arial, Helvetica, sans-serif; color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
  .pg-button{ background:url(images/ug-bg.png) repeat-x; float:right;}
  .ug-button a, .pg-button a{ text-decoration:none; display:block; color:#fff;}
   .ug-button a:hover{ background:#406b08; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;} .pg-button a:hover{ background:#063a65; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
 /*forms reg----*/ 
 .white-div{ background:#FFF; padding:20px; margin:20px 0; background:url(images/tranparent-white.png);}
 .fm-input-small, .fm-input-min, .fm-input-mins{ width:170px; height:20px; border:solid 1px #666; background:#FFF;}
 .fm-input-min{ width:auto;}
 .fm-input-mins{width:100px;}
 .button{ min-width:150px; height:30px; background:#2c7bc9; font:16px Arial, Helvetica, sans-serif; color:#fff !important; cursor:pointer; border:none;}
 .label
	  {
		font-family: "Times New Roman", Times, serif;	
		/*font-family:"Calibri",Arial Narrow,Arial,sans-serif;*/
		color: red;
		}
		
		@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-inside: always; }
}


 table.print-friendly tr td, table.print-friendly tr th {
        page-break-inside: avoid;
    }
	
	.avoidBreak {
    page-break-inside: avoid !important;
    margin: 4px 0 4px 0;  /* to keep the page break from cutting too close to the text in the div */
  }
